.title {
	margin: 0 0 0 10px;
}
.img {
	width: 33%;
}
.add {
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
	justify-content: center;
}
.add p {
	margin: 10px;
	line-height: 1.4;
	text-align: left;
}
.add img {
	float: right;
	padding: 0px 5px;
	top: 0px;
}
