.image {
	width: 100%;
}
.image-wrapper {
	height: 20vh;
	overflow: hidden;
}
.title {
	width: 90%;
	text-align: center;
	margin: auto;
	padding: 10px 0px;
}
.description {
	text-align: justify;
}
.meal-details-wrapper p {
	padding: 0px 5px;
}
.like-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.like-button {
	transition: 0.5s;
}
.grey {
	background-color: darkgrey;
}
.liked {
	background-color: #d12115;
}
.loading {
	display: flex;
	margin: 20px;
	align-items: center;
	justify-content: center;
}
.step {
	border-top: 1px;
	border-bottom: 1px;
	border-left: 0px;
	border-right: 0px;
	border-color: black;
	border-style: solid;
	margin: 5px 0px;
}
.step p {
	margin: 0;
}
