.image {
	width: 100%;
}
.image-wrapper {
	height: 20vh;
	overflow: hidden;
}
.title {
	width: 90%;
	text-align: center;
	margin: auto;
	padding: 10px 0px;
}
.description {
	text-align: justify;
}
.meal-details-wrapper p {
	padding: 0px 5px;
}
.like-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.like-button {
	transition: 0.5s;
}
.grey {
	background-color: darkgrey;
}
.liked {
	background-color: #d12115;
}
