.form div {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--large-font-size);
}
.form label {
	padding-right: 10px;
	font-weight: var(--hard-bold);
}
.form a {
	margin: 0px 10px;
}
.form input {
	width: 80%;
}
